:host {
  max-width: 360px;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.25);
}

.logo {
  background-image: url(/llama-cpp.png);
  background-color: #1c1f20;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 64px !important;
}

mat-nav-list {
  overflow: auto;
}
