:host {
  display: block;
}

mat-card.user {
  background-color: var(--mat-list-active-indicator-color);
}
mat-card.assistant {
  /*background-color: rgba(26, 27, 31, 0.08);*/
}

markdown {
  font-size: 14px;
}
