:host {
  display: block;
}

mat-card.user {
  background-color: var(--mdc-filled-text-field-container-color);
}
mat-card.assistant {
  /* background-color: var(--mat-list-active-indicator-color); */
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}
.mat-mdc-card-content:first-child {
  padding-top: 0;
}

markdown {
  font-size: 14px;
}
