<button type="button" mat-icon-button [matMenuTriggerFor]="styleMenu">
  <mat-icon>style</mat-icon>
</button>
<mat-menu #styleMenu="matMenu">
  <button type="button" mat-menu-item (click)="setStyle('rose-red')">Rose & Red</button>
  <button type="button" mat-menu-item (click)="setStyle('azure-blue')">Azure & Blue</button>
  <button type="button" mat-menu-item (click)="setStyle('magenta-violet')">Magenta & Violet</button>
  <button type="button" mat-menu-item (click)="setStyle('cyan-orange')">Cyan & Orange</button>
</mat-menu>
